VASP_ENV=development
VASP_HOST=127.0.0.1
VASP_PORT=8765
VASP_LOG_LEVEL=INFO
VASP_DATABASE_URL=
VASP_DEMO_MODE=false
VASP_OBS_HOST=127.0.0.1
VASP_OBS_PORT=4455
VASP_FRAME_CAPTURE_ENABLED=false
VASP_FRAME_CAPTURE_INTERVAL_SECONDS=2
VASP_FRAME_MAX_WIDTH=960
